body{
  background-color: #CBF3F0;
  font-family:'Lobster Two', Helvetica, sans-serif;
  color: black;
  /* background-image: url("./table_edit.png"); */
}
/* div {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
} */

body::after {
  content: "";
  background: url("./table_edit.png");
  opacity: 0.1;
  top: 0;
  left: 30px;
  bottom: 0px;
  right: 30px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 300px 300px;
  z-index: -1;
}
.navbar-Sections li{
  list-style-type: none;
  margin:0;
  padding: 0;
  background-color: #FFBF69;
  border: 2px solid #555;
  width:100%;
  /* display: inline; */
  justify-content: space-between;
  overflow: hidden;
  position: sticky;
  text-align: center;
}
.navbar-Sections{
  display: flex;
  font-size: x-large;
}

/* p{
color: #C1B098;
font-family: Impact, Charcoal, sans-serif
} */
li{
  list-style-type:none;
}


.single-customer, .single-booking-container, .single-booking-container{
  background-color: #FFBF69;
  border: 2px solid #555;
  margin: 10px;
  width:100%;
  /* border-radius: 40px; */
  padding:0px;
  display: flex;
  flex-wrap: wrap;

  /* align-items: center; */
  padding: 0px;
}
a.single-customer-link, a.single-booking{
  width:100%;
}


ul{
  margin-top: 20px;
  padding: 0;
}

ul a:hover {
  background-color: #cbf3f0;
  text-decoration: none;
}

.active {
  background-color: #4CAF50;
}
h1, h2, p{
  font-family:'Lobster Two', Helvetica, sans-serif;
}

.new-customer, .container{
  margin-left:  20px;
  margin-right: 20px;
  padding:20px;
  display: grid;
  /* text-align: center; */
}
input{
  margin: 20px;
  width: 200px;
}
h1, h3{
  background-color: #FFBF69;
  margin-top:10px;
  display: flex;
  justify-content: center;
  /* background-position: left; */
  border: 2px black solid;
  margin: auto;
  width: 80%;
}
h3{
  padding: 5px;
}

.booking-container{
  margin:20px;
  padding:10px;
  text-align: center;
}

.table-tables{
  display: inline;
  /* justify-content: space-around; */
  margin: 40px;
  width: auto;
}

div .single-table, label{
  border: 2px solid #555;
  padding:20px;
  background-color: #FFBF69;
  text-align: center;
}
.navLink a {
  color: black;
  display: block;
  text-decoration: none;
  width:100%;
  height:100%;
}
.restTable-container ul{
  display: flex;
  justify-content: center;
  margin: 20px;
}

label{
  text-align: center;
  font-family: 'Lobster Two', Helvetica, sans-serif;
  font-size: xx-large;
}

.single-container{
  height: 40px;
  /* padding-bottom: 100%; */
  display: block;
  width: 40px;
  /* text-align: center; */
  border: 1px;
  border:2px solid black;
  border-radius: 50%;
}
.single-container{
  background-color: #FFBF69;
  border: 2px solid #555;
  /* margin: 10px; */
  width: auto;
  /* border-radius: 40px; */
  padding: 5px;
  display: flex;
  align-items: center;
  /* height: 0; */
}
/* .customer-container li{
  /* display: inline; */
  /* max-width: 50%;
  flex-basis: 50%;
} */
.customer-container ul{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  /* max-width: 50%; */
  /* flex-direction: column; */
}
.customer-container li{
  display: inline;
  width:10px;
  /* margin: 10px; */
  text-align: center;
  flex-basis: 50%;
}
div.customer-container{
  margin:auto;
  width: 80%;
}
a{
  color: black;
}


form.container{
  margin:auto;
  width:60%
}

div.component{
display: grid;
justify-content: center;
text-align: center;
border: 2px solid;
width: 50%;
margin: auto;
padding: 20px;
background-color: #ffbf69;
}

button.btn.btn-danger.btn-sm.w-2{
  width:100%;
  margin:auto;
}

div.single-booking-update-container{
  display: grid;
width: 50%;
margin: auto;
justify-content: center;
}
div.booking-options{
  display:flex;
}
.name{
  font-size: xx-large;
}
input.btn{
  background-color: #17a2b8;
  color:white;
}
form{
  display: flex;
  justify-content: center;
}
a.new-table{
  display:flex;
  justify-content: center;
  text-decoration: none;
}
.single-customer-booking-display{
  padding-top: 0px;
}
header{
  opacity: 0.9;
}
