body{
  background-color: #CBF3F0;
}

ul{
  list-style-type: none;
  margin:0;
  padding: 0;
  background-color: #FFBF69;
  border: 1px solid #555;
  /* height:100%;
  position: fixed;
  overflow: auto; */
  width:100%;
}
li
{
  display: inline;
  width:10px;
  margin: 10px;
  text-align: center;

}


/* li:active{
  display: block;
  padding:8px;
  background-color: black;
} */
.booking-container{
  margin:20px;
  padding:10px;
  text-align: center;
}
/*
.navLink{
  justify-content: space-between;
} */
.navLink a{
  color:black;
}
